{
  "botNickname": "Head Non-Sub",
  "botPlaying": "pls gift me a sub",
  "discordToken": "",
  "twitchUsername": "",
  "twitchToken": "",
  "meeSixToken": "",
  "cBenniToken": "",
  "urlShortenerKey": "",
  "mariaDBHost": "",
  "mariaDBDatabase": "",
  "mariaDBUsername": "",
  "mariaDBPassword": "",
  "backblazeTempBucket": {
    "bucketId": "",
	"bucketName": "",
    "keyId": "",
    "applicationKey": ""
  },
  "backblazeAvatarBucket": {
    "bucketId": "",
	"bucketName": "",
    "keyId": "",
    "applicationKey": ""
  },
  "twitchStreams": [],
  "discordWhitelist": {},
  "discordBlacklist": {}
}